body {
    font-family: "Raleway", sans-serif;
}

.color-white {
    color: white;
}

.color-1c5c9e {
    color: #1c5c9e;
}

.color-e33c46 {
    color: #e33c46;
}

.font-weight-300 {
    font-weight: 300;
}

.font-weight-400 {
    font-weight: 400;
}

.font-weight-500 {
    font-weight: 500;
}

.font-weight-700 {
    font-weight: 800;
}

.font-weight-800 {
    font-weight: 800;
}

.font-size-24px {
    font-size: 24px;
}

.font-size-27px {
    font-size: 27px;
}
